@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import "@fortawesome/fontawesome-free/css/all.min.css";

body{
    font-family: "EB Garamond", serif;
}
