*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.first-section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.first-container{
    padding: 50px 100px;
}

.categories > ul >li{
    border-bottom: red solid 1px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400px;
    color:white;
    text-align: center;
    width: 100%;
    transition: box-shadow 0.5s ease ;
}

.categories>ul>li:hover{
    box-shadow: 0 10px 20px rgba(77, 31, 31, 0.447);
    cursor: pointer;
    transform: scaleX(1.2);
}

.slider-nav{
    z-index: 888;
    position: absolute;
    bottom: 100px;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    /* margin-bottom: 12px; */
}

.slider-nav .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(37, 36, 36);
    transition: 0.3s ease;
}

.slider-nav .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-nav .nav-btn:hover{
    transform: scale(1.2);
}

.slider-nav .nav-btn.active{
    background-color: red;
}

.home-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

.home-slide.active{
    opacity: 1;
    pointer-events: all;
    transition: 2s ease;
}
